#menu {
  background-image: url(/images/menu-bg.jpg);
  min-height: 100vh;
}

#menu .menu-content {
  max-width: 560px;
  margin-top: 10%;
}

#menu .menu-content .page-title {
  font-size: 5rem;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

@media (max-width: 600px) {
  #menu .menu-content .page-title {
    margin-top: 20%;
  }
}

#menu .menu-content .page-title p {
  font-size: 1.125rem;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.grid .big-box {
  grid-column: 1/3;
  grid-row: 1/3;
}

@media (max-width: 600px) {
  .grid .big-box {
    grid-column: auto;
    grid-row: auto;
  }
}

.grid .big-box img {
  height: 94%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .grid .big-box img {
    height: 100%;
  }
}
