@charset "UTF-8";
#contact {
  background-image: url(/images/contact-bg.jpg);
  min-height: 100vh;
}

@media (max-width: 600px) {
  #contact {
    margin-top: 40px;
  }
}

form {
  margin: 0;
}

form div {
  margin-bottom: 14px;
}

form label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}

form input[type='text'],
form input[type='email'],
form textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

@media (max-width: 600px) {
  form input[type='text'],
  form input[type='email'],
  form textarea {
    max-width: 100%;
  }
}

form input[type='text'],
form input[type='email'] {
  width: 100%;
  max-width: 240px;
}

form textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}

form input[type='submit'] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

/*店舗情報・地図*/
#location {
  padding: 4% 0;
}

#location .wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  #location .wrapper {
    flex-direction: column;
  }
}

#location .wrapper .location-info {
  width: 22%;
}

@media (max-width: 600px) {
  #location .wrapper .location-info {
    width: 100%;
  }
}

#location .wrapper .location-info p {
  padding: 12px 10px;
}

#location .wrapper .location-map {
  width: 74%;
  /*googlemap*/
}

@media (max-width: 600px) {
  #location .wrapper .location-map {
    width: 100%;
  }
}

#location .wrapper .location-map iframe {
  width: 100%;
}

#location .wrapper .sub-title {
  border-bottom: solid 1px #305089;
}

/*SNS*/
#sns {
  background: #faf7f0;
  padding: 4% 0;
}

#sns .wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  #sns .wrapper {
    flex-direction: column;
  }
}

#sns .wrapper .sub-title {
  margin-bottom: 30px;
  border-bottom: solid 2px #305089;
}

#sns .wrapper .sns-box {
  width: 30%;
}

@media (max-width: 600px) {
  #sns .wrapper .sns-box {
    margin-bottom: 30px;
    width: 100%;
  }
}
